<img width="681" height="424" alt="image" src="https://github.com/user-attachments/assets/9e9f9681-eb7a-45b3-af4a-572f6df5ffd7" />
